<h4 class="text-center mt-3 mb-3">Store name: <%= @store.name %></h4>

<% if current_store %>

  <table class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Username</th>
      <th colspan="3" class="text-center" scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @store.managers.each do |manager| %>
      <tr>
        <td class="text-center" scope="row"><%= manager.name %></td>
        <td class="text-center" scope="row"><%= manager.username %></td>
        <td scope="row"><%= link_to 'Show', manager %></td>
        <td scope="row"><%= link_to 'Edit', edit_manager_path(manager) %></td>
        <td scope="row"><%= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Create Manager', new_manager_registration_path, class: "btn btn-primary" %>

<% end %>

<% if current_customer %>

  <%= form_tag store_path, { :method => :get, :class => 'input-group', :type => 'search'} do %>
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <%= submit_tag 'Search', :name => nil, class: 'btn btn-primary mb-2' %>
  <% end %>

  <table class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Description</th>
      <th class="text-center" scope="col">Show</th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="text-center" scope="row"><%= product.name %></td>
        <td class="text-center" scope="row"><%= product.description %></td>
        <td class="text-center" scope="row"><%= link_to 'Show', product, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <%= link_to 'Back', stores_path, class: "btn btn-primary" %>
  </div>

<% end %>