<h3 class="text-center mt-3 mb-3">Orders</h3>

<table class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">Name</th>
    <th class="text-center" scope="col">Phone Number</th>
    <th class="text-center" scope="col">Address</th>
    <th class="text-center" scope="col">Price</th>
    <th class="text-center" scope="col">Created at</th>
    <th class="text-center" scope="col">Updated at</th>
    <th class="text-center" scope="col">Status</th>
    <th class="text-center" scope="col">Manager</th>
    <th class="text-center" scope="col">Process</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <% if order.status == 'new' %>
    <tr class="bg-info">
    <% elsif order.status == 'Processing' %>
    <tr class="bg-warning">
    <% elsif order.status == 'Delivered' %>
    <tr class="bg-success">
    <% end %>
      <td class="text-center" scope="row"><%= order.name %></td>
      <td class="text-center" scope="row"><%= order.phone_number %></td>
      <td class="text-center" scope="row"><%= order.address %></td>
      <td class="text-center" scope="row"><%= order.price %></td>
      <td class="text-center" scope="row"><%= order.created_at %></td>
      <td class="text-center" scope="row"><%= order.updated_at %></td>
      <td class="text-center" scope="row"><%= order.status %></td>
      <% if !order.manager_id.nil? %>
        <td class="text-center" scope="row"><%= Manager.find(order.manager_id).name %></td>
      <% else %>
        <td class="text-center" scope="row">No Manager</td>
      <% end %>
      <td scope="row"><%= link_to 'Process', order_status_path(:order_id => order.id), method: :put %></td>
    </tr>
  <% end %>
  </tbody>
</table>