<h1>Orders</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Price</th>
    <th>Status</th>
    <th>Manager</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.phone_number %></td>
      <td><%= order.address %></td>
      <td><%= order.price %></td>
      <td><%= order.status %></td>
      <% if !order.manager_id.nil? %>
        <td><%= Manager.find(order.manager_id).name %></td>
      <% else %>
        <td>No Manager</td>
      <% end %>

      <td><%= link_to 'Process', order_status_path(:order_id => order.id), method: :put %></td>
    </tr>
  <% end %>
  </tbody>
</table>