<h3 class="text-center mt-3 mb-3">Products</h3>

<table class="table">
  <thead>
    <tr>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Description</th>
      <th colspan="4" class="text-center" scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td class="text-center" scope="row"><%= product.name %></td>
        <td class="text-center" scope="row"><%= product.description %></td>
        <td scope="row"><%= link_to 'Show', product %></td>
        <td scope="row"><%= link_to 'Duplicate', product_duplicate_path(product), method: :post %></td>
        <td scope="row"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td scope="row"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= link_to 'New Product', new_product_path, class: 'btn btn-primary mt-2' %>
</div>