<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<br>

<% @product.image.each do |image| %>
  <%= image_tag image.variant(resize: '100x100') %>
<% end %>

<br>
<% if current_customer %>
  <%= form_tag '/cart', method: :post do %>
    <% @product.product_variant.each do |var| %>
      <%= var.title + ' ' + var.price.to_s %>
      <%= hidden_field_tag 'product_ids[]', var.id %>
      <%= number_field_tag 'product_quantities[]', 0 %>
      <br>
    <% end %>
    <%= submit_tag 'Add to Cart' %>
  <% end %>
<% end %>

<br>
<% if current_manager %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% elsif current_customer %>
  <%= link_to 'Back', @product.store %>
<% end %>

