<h4 class="text-center mt-3 mb-3">Product name: <%= @product.name %></h4>

<p>Product images:</p>

<% @product.image.each do |image| %>
  <%= image_tag image.variant(resize: '100x100') %>
<% end %>

<p class="mt-2">Product description: <%= @product.description %></p>

<% if current_customer %>
  <p>Order item:</p>
  <%= form_tag '/cart', { :method => :post, :class => 'input-group'} do %>
    <% @product.product_variant.each do |var| %>
      <label><%= var.title + ' ' + var.price.to_s %></label>
      <%= hidden_field_tag 'product_ids[]', var.id %>
      <%= number_field_tag 'product_quantities[]', 0, min: 0, class: 'input-group mb-1' %>
    <% end %>
    <%= submit_tag 'Add to Cart', class: 'btn btn-primary mt-2' %>
  <% end %>
<% end %>

<% if current_manager %>
  <div class="d-flex justify-content-center">
    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary mr-2' %>
    <%= link_to 'Back', products_path, class: 'btn btn-primary mr-2' %>
  </div>
<% elsif current_customer %>
  <div class="d-flex justify-content-center">
    <%= link_to 'Back', @product.store, class: 'btn btn-primary mt-2' %>
  </div>
<% end %>

