<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'Home', root_path %>
    <% if current_customer %>
      Signed as: <%= current_customer.name %> (Customer)
      <%= link_to 'Sign out', destroy_customer_session_path, method: :delete  %>
      <%= link_to 'Stores', stores_path %>
      <%= link_to 'Cart', shopping_cart_path %>
    <% elsif current_store %>
      Signed as: <%= current_store.name %> (Store)
      <%= link_to 'Sign out', destroy_store_session_path, method: :delete  %>
      <%= link_to 'Managers', store_managers_path %>
    <% elsif current_manager %>
      Signed as: <%= current_manager.name %> (Manager)
      <%= link_to 'Sign out', destroy_manager_session_path, method: :delete  %>
      <%= link_to 'Products', products_path %>
      <%= link_to 'Orders', orders_path %>
    <% else %>
      <p>Sign up as: <%= link_to 'Customer', new_customer_registration_path %>
        <%= link_to 'Store', new_store_registration_path %> or Sign in as:
        <%= link_to 'Customer', new_customer_session_path %>
        <%= link_to 'Store', new_store_session_path %>
        <%= link_to 'Manager', new_manager_session_path %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
